
:root {
    /* background-color: rgba(255, 149, 0, 0.989) ; */
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --maincolor: rgb(255, 255, 255);
    --accentcolor1: #73c23b;
    --btnhover: #67ae35;
    --accentcolor2: rgba(255, 149, 0, 1);
    --backboard: #f0eeee;
    --cardcolor: #ffffff;
    --cardborder: #98c17b;
    --clipcolor: #ffffff;
    --cliptext: #424242;
    
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--maincolor);
    
    
}

input {
    width: 75%;
    border: rgb(197, 197, 197) solid 1px;
    border-radius: 10px;
    box-shadow:  2px 2px 4px 0px rgba(0,0,0,.05);
    background-color: var(--backboard);
    box-shadow: -3px -2px 2px 0px rgba(0,0,0,0.05) inset;

}

img {
    /* width: fit-content; */
    height: fit-content;

}

.container {
    /* border: blue solid 2px; */
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas: 'sidebar workspace';
    height: max-content;
    /* height: 100%; */


}

.sidebar {
    background-color: var(--accentcolor1);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 30px);
    grid-gap: 10px;
    z-index: 2;
    /* overflow: scroll; */
    align-content: flex-start;
    padding-top: 40px;
    font-weight: bold;
    
}

.menu {
    /* background-color: rgba(213, 213, 213, 0.558); */
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--maincolor);
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 30px; */
    grid-template-areas: "menuicon menuword";
    margin: 0px;
    transition: .2s;
}


#menutop {
    grid-row: span 2;

}

.menu:hover {
    transform: translateX(13px);
    /* transform: scale(1.2); */
    


}

.menuicon {
    grid-area: menuicon;
    /* border: pink solid; */
    display: flex;
    justify-content: flex-end;

}
.menuicon img {
    width: 20px;
}

.menuword {
    grid-area: menuword;
    /* border: pink solid; */
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.workspace {
    /* background-color: var(--backboard); */
    grid-area: workspace;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(20%, 180px) auto;
    grid-template-areas: "topbar"
                        "mainarea";
    /* overflow: scroll; */
    height: max-content;
}


.topbar {
    background-color: var(--maincolor);
    grid-area: topbar;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,.2);
    z-index: 1;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "search-area profile-area"
                        "greeting-area button-area";
    overflow: hidden ;
    padding-bottom: 40px;
}

.topbar > * {
    /* border: brown solid 2px; */

}

.topquad1 {
    grid-area: search-area;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topquad2 {
    grid-area: profile-area;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-left: 40px;
    /* padding-right: 40px; */
}

.topquad2 > * {
    /* border: pink solid; */

}

.belldiv {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    /* border: pink solid; */
}

.belldiv img {
    transition: .3s;
}

@keyframes jiggle {
    0%      {transform: rotateZ(5deg); transform: scale(1.1);}
    50%     {transform: rotateZ(-5deg); }
    100%    {transform: rotateZ(5deg); }

}

.belldiv img:hover {
    /* transform: scale(1.5); */
    animation: jiggle .25s 2;

}


.profilediv {
    display: flex;
    padding-right: 80px;
    align-items: center;
    justify-content: end;
}

.profilediv img {
    transition: .1s;
    
}

.profilediv img:hover {
    transform: scale(1.2);
}


.profilediv p {
    padding-left: 20px;
    font-weight: bold;
}

.topquad3 {
    grid-area: greeting-area;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* border: rgb(246, 61, 92) solid; */
}

.topquad3 > * {
    /* border: pink solid; */

}

.userdiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.userdiv img {
    width: 60px;
}

.greetingdiv {
    padding: 0;
    margin-bottom: 0px;
    display: block;
    line-height: 1px;
}
.greetingdiv h4{
    font-size: smaller;
}
.greetingdiv h1{
    font-size: 24px;
    line-height: 24px;
    
}


.topquad4 {
    grid-area: button-area;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.btn {
    color: var(--maincolor);
    background-color: var(--accentcolor1);
    margin: 20px;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 80px;
    justify-content: flex-start;
    transition: .3s;
    
}

.btn:hover {
    background-color: var(--btnhover);
    transform: scale(1.05);
}

.clicker:active {
    transform: scale(.95) !important;
    transition: .1s;
}

.mainarea {
    background-color: var(--backboard);
    grid-area: mainarea;
    height: max-content;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "cardboard feedbar";
    margin-bottom: 0px;

}

.cardboard {
    grid-area: cardboard;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "projectstitle"
                        "projectscards";
    /* border: pink solid; */

}

.projectstitle {
    grid-area: projectstitle;
    /* border: pink solid; */
    line-height: 5px;
    display: grid;
    align-content: center;    
    padding-left: 20px;

}

.projectscards {
    grid-area: projectscards;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
    grid-template-rows: repeat(auto-fill, 200px);
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 150px;
    /* height: 100%; */
}

.cards {
    /* border: pink solid; */
    background-color: var(--cardcolor);
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,.2);
    /* margin: 20px; */
    height: 180px;
    width: minmax(300px, 400px);
    border-left: var(--cardborder) solid 8px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 35px 1fr 40px;
    transition: .2s;
    /* align-items: stretch; */
}

.cards:hover {
    transform: scale(1.02);
    box-shadow:  0px 10px 20px 0px rgba(0,0,0,.2);
}
.cards:active {
    transform: scale(.95);
}

.cardtitle {
    display: grid;
    padding: 10px;
    font-weight: bold;
    /* height: 10px; */

    /* border: pink solid; */

}

.cardtext {
    
    display: grid;
    padding: 10px;
    font-weight: 400;
    /* border: pink solid; */
    
}

.cardbuttons {
    display: flex;
    padding-right: 10px;
    /* padding-bottom: 10px; */
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
    /* border: pink solid; */
}

.cardbuttons img {
    transition: .2s;
    opacity: .5;
    padding-left: 10px;

}


.cardbuttons img:hover {
    transform: scale(1.2);
    opacity: .8;


}

.feedbar {
    grid-area: feedbar;
    padding-right: 40px;
    /* border: pink solid; */

}

.feedtitle {
    padding-left: 0px;

}

.announcements {
    /* border: pink solid; */
    background-color: var(--cardcolor);
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,.2);
    /* margin: 20px; */
    height: 220px;
    width: minmax(180px, 1fr);
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    /* align-items: stretch; */
    font-size: small;
    line-height: .8rem;
    padding-top: 10px ;
    padding-left: 10px ;
    padding-right: 10px ;
    overflow: hidden;
    /* scrollbar-color: hidden; */
}


.announcetitle {
    display: grid;
    /* padding: 10px; */
    padding-bottom: 10px;
    font-weight: bolder;
 
    /* border: pink solid; */

}
.announcetext {
    display: grid;
    /* padding: 10px; */
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: normal;

    /* border: pink solid; */
}

.a-clip {
    background-color: var(--clipcolor);
    color: var(--cliptext);

}

.a-clip hr {
    color: #e0e0e0;
    width: 90%;
    border-radius: 5px;
    border: solid 1px;
    margin-bottom: 15px;

}

.trendingtitle {
    padding-top: 30px;

}

.trending {
    /* border: pink solid; */
    background-color: var(--cardcolor);
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,.2);
    /* margin: 20px; */
    height: auto;
    width: minmax(150px, 1fr);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 70px;
    /* grid-gap: 0px; */
    /* align-items: stretch; */
    font-size: small;
    line-height: .8rem;
    padding-top: 10px ;
    padding-left: 10px ;
    padding-right: 10px ;
    margin-bottom: 40px;
    overflow: auto;
    padding-bottom: 10px;
    /* scrollbar-color: hidden; */
}

.trendingitem {
    /* border: pink solid; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* background-color: aquamarine; */
    align-items: center;
    /* margin: 10px; */
    /* margin-bottom:20px ; */
    padding-bottom: 0px;
    /* border: 0px; */
    transition: .2s;

}

.trendingicon {
    /* border: pink solid; */
    justify-self: center;
}
.trendinghandle {
    padding-left: 5px;
    line-height: .2em;
}

.trendingitem:hover {
    transform: translateX(3px);
    background-color: rgb(246, 246, 246);

}

.trendingicon img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.trendinghandle h3 {

}
.trendinghandle h4 {
    font-weight: normal;
}